.nav-item {
  color: initial;
  border-radius: 0 !important;
  border-left: 5px solid transparent;
}

.nav-item:hover {
  border-color: #20B2AA;
  color: #20B2AA;
}

.nav-item:hover mat-icon,
.nav-item:hover span,
.nav-item:focus mat-icon,
.nav-item:focus span,
.nav-item:active mat-icon,
.nav-item:active span {
  border-radius: 0 !important;
  color: #20B2AA; }
