.nav-item {
  color: initial;
  transition: color 0.3s ease;
}

.nav-item:hover,
.nav-item:hover mat-icon,
.nav-item:hover span {
  color: #20B2AA;
}

.nav-item:focus,
.nav-item:active,
.nav-item:focus mat-icon,
.nav-item:focus span,
.nav-item:active mat-icon,
.nav-item:active span {
  color: #20B2AA;
}
